<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospital_back.mapper.AccountMapper">

    <insert id="insert" keyColumn="accId" keyProperty="accId" useGeneratedKeys="true">
        insert into account (dId, uId, payTime, fee, feeType, payType, rId, cId)
        values (#{dId}, #{uId}, #{payTime}, #{fee}, #{feeType}, #{payType}, #{rId}, #{cId})
    </insert>

    <update id="updateUId">
        update account a JOIN account_examinationapplication ae on a.accId = ae.accId
        set uId = #{uId} where  rId = #{rId} and ae.eAId = #{eAId}
    </update>
</mapper>