<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospital_back.mapper.AccountMapper">

    <insert id="insert" keyColumn="accId" keyProperty="accId" useGeneratedKeys="true">
        insert into account (dId, uId, payTime, fee, feeType, payType, rId, cId, postDId, iId)
        values (#{dId}, #{uId}, #{payTime}, #{fee, jdbcType=DOUBLE} , #{feeType}, #{payType}, #{rId}, #{cId}, #{postDId}, #{iId})
    </insert>

    <update id="updateUId">
        update account a JOIN account_examinationapplication ae on a.accId = ae.accId
        set uId = #{uId} where  rId = #{rId} and ae.eAId = #{eAId}
    </update>

    <select id="getMedicineByRIdAndTime" resultType="com.neuedu.hospital_back.po.Medicine">
        select medicine.mId, mCode, mName, mSpell, mSpecification, mUnit, mProducer,mFormulation, mType, mFee, account_diagnosis.dia_M_Id,instruction,
      dosage, times,mAmount,mState from medicine,diagnosis_medicine,account,account_diagnosis
      where rId=#{rId} and FROM_UNIXTIME(payTime,'%Y-%m-%d')=#{time} and feeType in ("西药","中药")and account_diagnosis.dia_M_Id=diagnosis_medicine.dia_M_Id
      and medicine.mId=diagnosis_medicine.mId and account.accId=account_diagnosis.accId
      and mState="已收费"
    </select>

    <select id="getAlreadyDrawMedicineByRIdAndTime" resultType="com.neuedu.hospital_back.po.Medicine">
        select medicine.mId, mCode, mName, mSpell, mSpecification, mUnit, mProducer,mFormulation, mType, mFee, account_diagnosis.dia_M_Id,instruction,
      dosage, times,mAmount,mState from medicine,diagnosis_medicine,account,account_diagnosis
      where rId=#{rId} and FROM_UNIXTIME(payTime,'%Y-%m-%d')=#{time} and feeType in ("西药","中药")and account_diagnosis.dia_M_Id=diagnosis_medicine.dia_M_Id
      and medicine.mId=diagnosis_medicine.mId and account.accId=account_diagnosis.accId
      and mState="已发药"
    </select>

    <update id="updateFeeById">
        update account
        <set>
            fee=fee-#{fee}
        </set>
        where accId=#{accId}
    </update>

    <update id="updateIId">
        update account
        <set>
            iId = #{originalIId}
        </set>
        where iId = #{iId}
    </update>

    <select id="getIIdByAccId" resultType="java.lang.String">
        select iId from account where accId = #{accId}
    </select>

    <update id="updateIIdByAccId" parameterType="Integer">
        update account
        <set>
            iId = #{iId}
        </set>
        where accId = #{accId}
    </update>

   <!-- <delete id="deleteAccount">
        delete from account
        where accId=#{accId}
    </delete>
-->
<!---->
</mapper>