<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospital_back.mapper.AccountDiagnosisMapper">
  <insert id="insert" parameterType="com.neuedu.hospital_back.po.AccountDiagnosis">

    insert into account_diagnosis (accId, dia_M_Id
      )
    values (#{accId,jdbcType=INTEGER}, #{dia_M_Id,jdbcType=INTEGER}
      )
  </insert>
  <select id="getAccId" resultType="int">
    select accId from account_diagnosis
    where dia_M_Id=#{dia_M_Id}
  </select>
  <delete id="deleteBydia_M_Id">
    delete from account_diagnosis
    where dia_M_Id=#{dia_M_Id}
  </delete>
  <!---->
</mapper>