<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospital_back.mapper.ArrangementRegulationMapper">


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from arrangementregulation
    where arId = #{arId,jdbcType=INTEGER}
  </delete>

    <insert id="insert" keyColumn="arId" keyProperty="arId"
            parameterType="com.neuedu.hospital_back.po.ArrangementRegulation" useGeneratedKeys="true">
    insert into arrangementregulation (dId, rLName, arName)
    values (#{dId,jdbcType=VARCHAR}, #{rLName,jdbcType=VARCHAR}, #{arName,jdbcType=VARCHAR})
  </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.neuedu.hospital_back.po.ArrangementRegulation">
        update arrangementregulation
        <set>
            <if test="dId != null">
                dId = #{dId,jdbcType=VARCHAR},
            </if>
            <if test="rLName != null">
                rLName = #{rLName,jdbcType=VARCHAR},
            </if>
            <if test="arName != null">
                arName = #{arName,jdbcType=VARCHAR},
            </if>
        </set>
        where arId = #{arId,jdbcType=INTEGER}
    </update>

</mapper>