<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospital_back.mapper.DiagnosisTemplateMedicineMapper">

  <insert id="insert" keyColumn="diaT_M" keyProperty="diaT_M" parameterType="com.neuedu.hospital_back.po.DiagnosisTemplateMedicine" useGeneratedKeys="true">

    insert into diagnosistemplate_medicine (mId, datId,instruction,dosage,times)
    values (#{mId,jdbcType=INTEGER}, #{datId,jdbcType=INTEGER},#{instruction},#{dosage},#{times})
  </insert>
    <delete id="deleteBydatId">
      delete from diagnosistemplate_medicine where datId=#{datId}
    </delete>
    <update id="updateBydatIdAndmId">
      update diagnosistemplate_medicine
      <set>
        <if test="dosage != null and dosage != ''">dosage=#{dosage}, </if>
       <if test="instruction != null and instruction != ''">instruction=#{instruction} ,</if>
        <if test="times != null and times != ''">times=#{times} ,</if>
      </set>
      where datId=#{datId} and mId=#{mId}
    </update>

</mapper>