<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospital_back.mapper.DiagnosisTemplateDepartmentMapper">

  <insert id="insert" keyColumn="dat_dId" keyProperty="dat_dId" parameterType="com.neuedu.hospital_back.po.DiagnosisTemplateDepartment" useGeneratedKeys="true">

    insert into diagnosistemplate_department (datId, dId)
    values (#{datId,jdbcType=INTEGER}, #{dId,jdbcType=VARCHAR})
  </insert>
    <delete id="deleteBydatId">delete from diagnosistemplate_department where datId=#{datId} </delete>
  <select id="getDId" resultType="java.lang.String">
    select dId from diagnosistemplate_department where datId=#{datId}
  </select>
</mapper>