<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospital_back.mapper.DiagnosisMedicineMapper">

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from diagnosis_medicine
    where diaId=#{diaId}
  </delete>
  <insert id="insert" keyColumn="dia_M_Id" keyProperty="dia_M_Id" parameterType="com.neuedu.hospital_back.po.DiagnosisMedicine" useGeneratedKeys="true">
    insert into diagnosis_medicine (mId, diaId, instruction, 
      dosage, times,mAmount)
    values (#{mId,jdbcType=INTEGER}, #{diaId,jdbcType=INTEGER}, #{instruction,jdbcType=VARCHAR}, 
      #{dosage,jdbcType=VARCHAR}, #{times,jdbcType=VARCHAR},#{mAmount})
  </insert>
  <select id="getBydiaId" resultType="com.neuedu.hospital_back.po.Medicine">
    select  medicine.mName,medicine.mSpecification,medicine.mFee, dia_M_Id, medicine.mId, diaId, instruction, dosage, times,mAmount
     from diagnosis_medicine,medicine
    where diaId=#{diaId} and medicine.mId=diagnosis_medicine.mId
  </select>
  <delete id="deleteByPrimaryKeyAndMId">
     delete from diagnosis_medicine
    where diaId=#{diaId} and mId=#{mId}
  </delete>

  <update id="updateBymIdAndDiaId">
    update diagnosis_medicine
    <set>
      <if test="times != null and times != ''">times=#{times}, </if>
     <if test="instruction != null and instruction != ''">instruction=#{instruction} ,</if>
      <if test="dosage != null and dosage != ''">dosage=#{dosage} ,</if>
      <if test="mAmount != null">mAmount=#{mAmount}, </if>
    </set>
    where diaId=#{diaId} and mId=#{mId}
  </update>
</mapper>