<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospital_back.mapper.DiseaseMapper">

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from disease
    where disId = #{disId,jdbcType=INTEGER}
  </delete>

  <update id="updateByPrimaryKeySelective" parameterType="com.neuedu.hospital_back.po.Disease">
    update disease
    <set>
      <if test="disIcd != null">
        disIcd = #{disIcd,jdbcType=VARCHAR},
      </if>
      <if test="disName != null">
        disName = #{disName,jdbcType=VARCHAR},
      </if>
      <if test="disCode != null">
        disCode = #{disCode,jdbcType=VARCHAR},
      </if>
      <if test="disType != null">
        disType = #{disType,jdbcType=VARCHAR},
      </if>
    </set>
    where disId = #{disId,jdbcType=INTEGER}
  </update>

  <insert id="insert" keyProperty="disId" parameterType="com.neuedu.hospital_back.po.Disease" useGeneratedKeys="true">
    insert into disease (disIcd, disName,
      disCode, disType)
    values (#{disIcd,jdbcType=VARCHAR}, #{disName,jdbcType=VARCHAR},
      #{disCode,jdbcType=VARCHAR}, #{disType,jdbcType=VARCHAR})
  </insert>

    <select id="getDiseaseType" resultType="String">
        select distinct disType from disease
    </select>

    <select id="getDiseaseByType" resultType="com.neuedu.hospital_back.po.Disease">
        select disId, disIcd, disName, disCode, disType from disease
        where disType = #{disType}
    </select>

    <select id="getDiseases" resultType="com.neuedu.hospital_back.po.Disease">
        select disId, disIcd, disName, disCode, disType from disease
        <where>
            <if test="disName != null and disName != ''">
                and disName like '%' #{disName} '%'
            </if>
            <if test="disCode != null and disCode != ''">
                and disCode = #{disCode}
            </if>
            <if test="disType != null and disType != ''">
                and disType = #{disType}
            </if>
        </where>
    </select>

    <select id="getById" resultType="com.neuedu.hospital_back.po.Disease">
        select disId, disIcd, disName, disCode, disType from disease
        where disId = #{disId}
    </select>

    <select id="getDiseaseByPage" resultType="com.neuedu.hospital_back.po.Disease">
        select disId, disIcd, disName, disCode, disType from disease
        where disType = #{disType} limit #{begin}, #{pageSize}
    </select>

    <select id="getDiseaseCount" resultType="Integer">
        select count(*) from disease
        <where>
            <if test="disType != null and disType != ''">  disType=#{disType} </if>
        </where>;
    </select>
</mapper>