<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospital_back.mapper.ExaminationTemplateDepartmentMapper">


  <insert id="insert" keyColumn="eT_dId" keyProperty="eT_dId" parameterType="com.neuedu.hospital_back.po.ExaminationTemplateDepartment" useGeneratedKeys="true">
    
    insert into examinationtemplate_department (eTId, dId)
    values (#{eTId,jdbcType=INTEGER}, #{dId,jdbcType=VARCHAR})
  </insert>

  <select id="getDId" resultType="string">
    select dId from examinationtemplate_department where eTId=#{eTId}
  </select>

  <delete id="deleteByETId" parameterType="integer">
    delete from examinationtemplate_department where eTId=#{eTId}
  </delete>
</mapper>