<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospital_back.mapper.ExaminationApplicationMapper">

    <insert id="insert" useGeneratedKeys="true" keyColumn="eAId" keyProperty="eAId">
        insert into examinationapplication (eAName, eIId, dId, eAStatus, rId)
        values (#{eAName}, #{eIId}, #{dId}, #{eAStatus}, #{rId})
    </insert>

    <select id="getEINameAndEAResult" resultType="java.util.HashMap">
        select distinct eIName, eAResult from examinationapplication e1 join examnationitem e2 on e1.eIId = e2.eIId where rId = #{rId} and eAStatus = "执行结束"
    </select>

    <select id="selectById" resultType="com.neuedu.hospital_back.po.ExaminationApplication">
        select eAId, eAName, eIId, dId, eAStatus, rId from examinationapplication where eAId = #{eAId}
    </select>

    <select id="selectByrIdAndEIFeeType" resultType="com.neuedu.hospital_back.po.ExaminationApplication">
        select eAId, eAName, examinationApplication.eIId, dId, eAStatus, rId, eAResult from examinationapplication, examnationitem where rId = #{rId} and examinationApplication.eIId = examnationitem.eIId and eIFeeType like "%" #{eIFeeType} "%"
    </select>

    <select id="selectByrIdAndDId" resultType="com.neuedu.hospital_back.po.ExaminationApplication">
        select eAId, eAName, eIId, dId, eAStatus, rId, eAResult from examinationapplication where rId = #{rId} and dId = #{dId} and eAStatus = #{eAStatus}
    </select>

    <select id="selectByrIdAndStatus" resultType="com.neuedu.hospital_back.po.ExaminationApplication">
        select eAId, eAName, eIId, dId, eAStatus, rId, eAResult, beginTime from examinationapplication where rId = #{rId} and eAStatus = #{eAStatus}
    </select>

    <delete id="delete">
        delete from examinationapplication where eAId = #{eAId}
    </delete>

    <update id="updateResult">
        update examinationapplication set  eAResult = #{eAResult} where eAId = #{eAId}
    </update>

    <update id="updateStatus">
        update examinationapplication set eAStatus = #{eAStatus} where eAId = #{eAId}
    </update>

    <update id="updateStatusAndTime">
        update examinationapplication set eAStatus = #{eAStatus}, beginTime = #{beginTime} where eAId = #{eAId}
    </update>
</mapper>