<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospital_back.mapper.ExaminationTemplateUserMapper">

  <insert id="insert" keyColumn="eT_uId" keyProperty="eT_uId" parameterType="com.neuedu.hospital_back.po.ExaminationTemplateUser" useGeneratedKeys="true">
    insert into examinationtemplate_user (eTId, `uId`)
    values (#{eTId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER})
  </insert>

  <delete id="deleteByETId" parameterType="integer">
    delete from examinationtemplate_user where eTId=#{eTId}
  </delete>

</mapper>