<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospital_back.mapper.ExaminationApplicationMapper">

    <insert id="insert" useGeneratedKeys="true" keyColumn="eAId" keyProperty="eAId" >
        insert into examinationapplication (eAName, eIId, dId, eAStatus, rId)
        values (#{eAName}, #{eIId}, #{dId}, #{eAStatus}, #{rId})
    </insert>

    <select id="selectById" resultType="com.neuedu.hospital_back.po.ExaminationApplication">
        select eAId, eAName, eIId, dId, eAStatus, rId from examinationapplication where eAId = #{eAId}
    </select>

    <select id="selectByrId" resultType="com.neuedu.hospital_back.po.ExaminationApplication">
        select eAId, eAName, eIId, dId, eAStatus, rId, eAResult from examinationapplication where rId = #{rId}
    </select>

    <select id="selectByrIdAndStatus" resultType="com.neuedu.hospital_back.po.ExaminationApplication">
        select eAId, eAName, eIId, dId, eAStatus, rId, eAResult, beginTime from examinationapplication where rId = #{rId} and eAStatus = #{eAStatus}
    </select>


    <delete id="delete">
        delete from examinationapplication where eAId = #{eAId}
    </delete>

    <update id="updateStatus">
        update examinationapplication set eAStatus = #{eAStatus} where eAId = #{eAId}
    </update>

    <update id="updateStatusAndTime">
        update examinationapplication set eAStatus = #{eAStatus}, beginTime = #{beginTime} where eAId = #{eAId}
    </update>
</mapper>