<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospital_back.mapper.InvoiceMapper">
    <sql id="Base_Column_List">
        iId, eAId, rId, diaId, payTime, offsetNum, iState, reprintTime
    </sql>

    <select id="getInvoiceCountByPostDId" resultType="int">
        select count(distinct iId) from account where postDId = #{postDId} and payTime between #{beginTime} and #{endTime}
    </select>

    <select id="getInvoiceCountBydId" resultType="int">
        select count(distinct iId) from account where dId = #{dId} and payTime between #{beginTime} and #{endTime}
    </select>

    <select id="getInvoiceCountByuId" resultType="int">
        select count(distinct iId) from account where uId = #{uId} and payTime between #{beginTime} and #{endTime}
    </select>

    <select id="selectIId" resultType="String">
        select distinct i.iId from account a join invoice i on a.iId = i.iId and iStatus = #{iStatus} and payTime between #{beginTime} and #{endTime} and cId=#{cId}
    </select>

    <select id="getCancelledInvoice" resultType="String">
        select distinct invoiceConnection.originaliId from invoice, account, invoiceConnection
where account.iId = invoiceConnection.newIId and invoice.iId = invoiceConnection.originaliId and payTime between #{beginTime} and #{endTime} and cId=#{cId}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from invoice
    where iId = #{iId,jdbcType=VARCHAR}
  </delete>

    <insert id="insert" parameterType="com.neuedu.hospital_back.po.Invoice">
    insert into invoice (iId, eAId, rId, 
      diaId, payTime, offsetNum, 
      iState, reprintTime)
    values (#{iId,jdbcType=VARCHAR}, #{eAId,jdbcType=INTEGER}, #{rId,jdbcType=INTEGER}, 
      #{diaId,jdbcType=INTEGER}, #{payTime,jdbcType=DATE}, #{offsetNum,jdbcType=VARCHAR}, 
      #{iState,jdbcType=VARCHAR}, #{reprintTime,jdbcType=INTEGER})
  </insert>
    <update id="update">
        update invoice
        <set>
            <if test="rId != null">rId=#{rId},</if>
            <if test="diaId != null">diaId=#{diaId},</if>
            <if test="eAId != null">eAId=#{eAId},</if>
            <if test="iState != null and iState != ''">iState=#{iState} ,</if>
            <if test="offsetNum != null and offsetNum != ''">offsetNum=#{offsetNum} ,</if>
            <if test="payTime != null">payTime=#{payTime} ,</if>
            <if test="reprintTime != null">reprintTime=#{reprintTime},</if>
        </set>
        where iId=#{iId}
    </update>
    <select id="getNowIId" resultType="Integer">
    select count(*) from invoice where iId like '' #{profix} '%'
  </select>

    <select id="selectByCondition" resultType="com.neuedu.hospital_back.po.Invoice">
        select iId, eAId, rId,
        diaId, payTime, offsetNum,
        iState, reprintTime from invoice
        <where>
            <if test="iId != null and iId != ''">iId=#{iId}</if>
            <if test="rId != null">and rId=#{rId},</if>
            <if test="diaId != null">and diaId=#{diaId},</if>
            <if test="eAId != null">and eAId=#{eAId},</if>
            <if test="iState != null and iState != ''">and iState=#{iState} ,</if>
        </where>
    </select>

    <insert id="insertInvoice" parameterType="java.lang.String">
        insert into invoice (iId, iStatus) values (#{iId}, #{iStatus})
    </insert>

    <update id="updateInvoice" parameterType="java.lang.String">
        update invoice
        <set>
            iStatus = #{iStatus}
        </set>
        where iId = #{iId}
    </update>

    <insert id="insertConnection" parameterType="java.lang.String">
        insert into invoiceConnection (originaliId, newIId) values (#{originaliId}, #{newIId})
    </insert>

    <select id="selectMedicineByiId" resultType="com.neuedu.hospital_back.po.Medicine">
        select mAmount,mType, mName,mFee from medicine,diagnosis_medicine,diagnosis,account,account_diagnosis
        where account.accId = account_diagnosis.accId and account_diagnosis.dia_M_id = diagnosis_medicine.dia_M_id and diagnosis_medicine.diaId=diagnosis.diaId and diagnosis_medicine.mId=medicine.mId and iId = #{iId}
    </select>

    <select id="selectExaminationApplicationByiId" resultType="com.neuedu.hospital_back.po.ExaminationApplication">
        select eIId from examinationapplication, account, account_examinationapplication where account.accId = account_examinationapplication.accId and account_examinationapplication.eAId = examinationapplication.eAId and iId = #{iId}
    </select>
</mapper>