<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospital_back.mapper.RegistrationMapper">

    <insert id="insertRegistration">
        insert into registration (pId, payType, rLName, dId, uId, hasMedicalHistory, rFee, rDate, rStatus)
        values (#{pId}, #{payType}, #{rLName}, #{dId}, #{uId}, #{hasMedicalHistory}, #{rFee}, #{rDate}, '已挂号')
    </insert>

</mapper>