<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospital_back.mapper.RegistrationMapper">

    <insert id="insertRegistration" keyColumn="rId" keyProperty="rId" useGeneratedKeys="true">
        insert into registration (pId, payType, rLName, dId, uId, hasMedicalHistory, rFee, rDate, rStatus, rResult, postDId)
        values (#{pId}, #{payType}, #{rLName}, #{dId}, #{uId}, #{hasMedicalHistory}, #{rFee}, #{rDate}, '未看诊', #{rResult}, #{postDId})
    </insert>

    <select id="getVisits" resultType="int">
        select count(*) from registration where rDate between #{beginTime} and #{endTime} and dId = #{dId} and rStatus = "诊毕"
    </select>

    <select id="getPostVisits" resultType="int">
        select count(*) from registration where rDate between #{beginTime} and #{endTime} and postDId = #{postDId} and rStatus = "诊毕"
    </select>

    <select id="getUserVisits" resultType="int">
        select count(*) from registration where rDate between #{beginTime} and #{endTime} and uId = #{uId} and rStatus = "诊毕"
    </select>

    <select id="getAlreadyDiagnosisByuId" resultType="com.neuedu.hospital_back.po.RegistrationInfo">
        select registration.rId,registration.pId,pName,pBirth,pSex from patient,registration
        <where>
            uId=#{uId} and registration.pId=patient.pId and rStatus='诊毕'
            and FROM_UNIXTIME(registration.rDate,'%y-%m-%d')=CURDATE()
            <if test="pName != null and pName != ''">and pName like "%"#{pName}"%"</if>
        </where>
    </select>

    <select id="getNotDiagnosisByuId" resultType="com.neuedu.hospital_back.po.RegistrationInfo">
        select registration.rId,registration.pId,pName,pBirth,pSex from patient,registration
        <where>
            uId=#{uId} and registration.pId=patient.pId and rStatus !='诊毕'
            and FROM_UNIXTIME(registration.rDate,'%y-%m-%d')=CURDATE()
            <if test="pName != null and pName != ''">and pName like "%"#{pName}"%"</if>
        </where>
    </select>


    <select id="getRegistrationInfoByrIdOrPName" resultType="com.neuedu.hospital_back.po.RegistrationInfo">
        select registration.rId, registration.pId, pName, pBirth, pSex, pAddress from patient,registration
        <where>
            pName like "%"#{pName}"%" and registration.pId=patient.pId and rStatus != '诊毕' and rStatus != '退号'
            <if test="rId != null and rId != -1">and rId = #{rId}</if>
        </where>
    </select>

    <select id="getAlreadyDiagnosisByuIdAndDId" resultType="com.neuedu.hospital_back.po.RegistrationInfo">
        select registration.rId,registration.pId,pName,pBirth,pSex from patient,registration
        <where>
            uId=#{uId} and dId=#{dId} and registration.pId=patient.pId and rStatus='诊毕'
            and FROM_UNIXTIME(registration.rDate,'%y-%m-%d')=CURDATE()
            <if test="pName != null and pName != ''">and pName like "%"#{pName}"%"</if>

        </where>
    </select>

    <select id="getNotDiagnosisByuIdAndDId" resultType="com.neuedu.hospital_back.po.RegistrationInfo">
        select registration.rId,registration.pId,pName,pBirth,pSex from patient,registration
        <where>
            uId=#{uId} and dId=#{dId} and registration.pId=patient.pId and rStatus !='诊毕'
            and FROM_UNIXTIME(registration.rDate,'%y-%m-%d')=CURDATE()
            <if test="pName != null and pName != ''">and pName like "%"#{pName}"%"</if>
        </where>
    </select>

    <select id="getRegistrationInfoByrId" resultType="com.neuedu.hospital_back.po.RegistrationInfo">
        select rId,rDate,rStatus,pName,pAddress,registration.pId,department.dName from registration,department,patient
        where rId=#{rId} and registration.pId=patient.pId and registration.dId=department.dId and FROM_UNIXTIME(registration.rDate,'%y-%m-%d')=CURDATE()
    </select>

    <update id="updateRegistration">
        update registration
        <set>
            <if test="rStatus != null and rStatus != ''">rStatus = #{rStatus},</if>
            <if test="rResult != null and rResult != ''">rResult = #{rResult},</if>
        </set>
        where rId=#{rId}
    </update>

</mapper>