<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospital_back.mapper.WorkloadsCountMapper">

    <select id="getFeesBydId" resultType="double">
        select COALESCE(sum(fee),0.0) as totalFee from account where dId = #{dId}
        and payTime between #{beginTime} and #{endTime} and feeType like "%"#{feeType}"%"
    </select>

    <select id="getFeesByPostDId" resultType="double">
        select COALESCE(sum(fee),0.0) as totalFee from account where postDId = #{postDId}
        and payTime between #{beginTime} and #{endTime} and feeType like "%"#{feeType}"%"
    </select>

    <select id="getFeesByuId" resultType="double">
        select COALESCE(sum(fee),0.0) as totalFee from account where uId = #{uId}
        and payTime between #{beginTime} and #{endTime} and feeType like "%"#{feeType}"%"
    </select>

    <select id="getFeesBycIdOnFeeType" resultType="double">
        select COALESCE(sum(fee),0.0) as totalFee from account where cId = #{cId}
        and payTime between #{beginTime} and #{endTime} and feeType like "%"#{feeType}"%"
    </select>

    <select id="getFeesBycIdOnPayType" resultType="double">
        select COALESCE(sum(fee),0.0) as totalFee from account where cId = #{cId}
        and payTime between #{beginTime} and #{endTime} and payType = #{payType}
    </select>


</mapper>